<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Email</title>
<style>
/* CSS cho phần header */
header {
	text-align: center;
	padding: 20px;
	/*background-color: #007BFF;*/
	color: green;
	font-size: 24px;
	font-weight: bold;
}

p, h2 {
	text-align: center;
	color: black;
}

.ii a[href] {
	color: white;
}

/* CSS cho nút xác thực */
.link-button {
	display: block;
	width: 200px;
	padding: 10px;
	margin: 20px auto;
	background-color: green;
	color: #faf4f9;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	border: none;
}
</style>
</head>
<body>
	<header> UTEALO </header>
	<h2>Đặt lại mật khẩu</h2>
	<div style="weight: 100%">
		<p>
			Mật khẩu tài khoản UteAlo của bạn sẽ được thay đổi <br> Nếu là
			bạn, vui lòng bấm vào nút bên dưới để đặt lại mật khẩu
		</p>
		<a th:href="${url}"><button class="link-button">Đặt lại
				mật khẩu</button></a>
		<p>Lưu ý: Mật khẩu chỉ có hiệu lực trong 5 phút!!!</p>
		<p>Cảm ơn bạn đã tin dùng chúng tôi!!!</p>
	</div>
</body>
</html>